@page "/"

<PageTitle>Home</PageTitle>

<MudText Typo="Typo.h4" GutterBottom="true">مرحبا بكم في صفحة نطام التسجيل في الإسكان الطلابي لجامعة بنغازي</MudText>
@* <MudText Class="mb-8">Welcome to your new app, powered by MudBlazor and the .NET 9 Template!</MudText> *@

<MudAlert Severity="Severity.Normal" ContentAlignment="HorizontalAlignment.Start">
    يمكنت التعرف علي الجامعة من خلال الموقع الرسمي لـ
    <MudLink Href="https://uob.edu.ly/ar/" Target="_blank" Typo="Typo.body2" Color="Color.Primary">
        <b>جامعة بنغازي</b>
    </MudLink>
</MudAlert>

<br />
<MudText Typo="Typo.h5" GutterBottom="true">🏠 معلومات عن بيوت الطلاب – جامعة بنغازي</MudText>
<br />

<MudCarousel Class="mud-width-full" Style="height:500px;" ShowBullets="true" AutoCycle="true" TData="object">
    <MudCarouselItem Color="@Color.Primary">
        <div class="d-flex" style="height:100%">
            <MudImage Src="Images/images.jpg" Alt="السرير" Elevation="25" Class="rounded-lg" />
            <MudImage Src="Images/images.png" Alt="غرفة" Elevation="25" Class="rounded-lg" />
        </div>
    </MudCarouselItem>

    <MudCarouselItem Color="@Color.Secondary">
        <div class="d-flex" style="height:100%">
            <MudImage Src="Images/images.png" Alt="غرفة" Elevation="25" Class="rounded-lg" />
            <MudImage Src="Images/UBC_Accommodations_Accessible_Suites_Studio_Kitchen_750x500-750x500.jpg" Alt="مطبخ السكن" Elevation="25" Class="rounded-lg" />
        </div>
    </MudCarouselItem>
    <MudCarouselItem>
        <div class="d-flex" style="height:100%">
            <MudImage Src="Images/UBC_Accommodations_Accessible_Suites_Studio_Kitchen_750x500-750x500.jpg" Alt="مطبخ السكن" Elevation="25" Class="rounded-lg" />
            <MudImage Src="Images/images.jpg" Alt="السرير" Elevation="25" Class="rounded-lg" />
        </div>
    </MudCarouselItem>
</MudCarousel>

<br/>

<MudText Typo="Typo.body2">
    توفّر جامعة بنغازي سكناً جامعياً مريحاً ومتنوعاً للطلاب، حيث تمتلك خمسة بيوت طلابية مجهزة لتلبية احتياجات الطلبة المقيمين.
    <MudSpacer />
    ثلاثة بيوت تحتوي على 200 غرفة مزدوجة، مجهّزة بشكل يوفر الراحة والمساحة المناسبة للطلاب.
    <MudSpacer />
    بيتان إضافيان يضمان ما يقارب 500 غرفة بأنواع مختلفة تشمل:
    <MudSpacer />
    غرف فردية،
    <MudSpacer />
    غرف مزدوجة،
    <MudSpacer />
    وغرف رباعية.
    <MudSpacer />
    يتم تصميم هذه البيوت لتوفير بيئة دراسية ومعيشية متكاملة، مع الحرص على النظافة، الأمان، والخدمات الأساسية التي تضمن راحة الطلاب.
    <MudSpacer />
</MudText>
<br />
<br />
<MudPaper Class="bg-dark text-white mt-10 pt-6 pb-4" Square="true">
    <MudContainer MaxWidth="MaxWidth.Large">
        <MudGrid>
            <!-- عمود معلومات الجامعة -->
            <MudItem xs="12" md="6">
                <MudText Typo="Typo.h6" Class="mb-2">جامعة بنغازي</MudText>
                <MudText Typo="Typo.body2">
                    نظام إدارة السكن الجامعي
                </MudText>
            </MudItem>

            <!-- عمود معلومات التواصل -->
            <MudItem xs="12" md="6">
                <MudText Typo="Typo.h6" Class="mb-2">تواصل معنا</MudText>
                <MudText Typo="Typo.body2">📧 housing@uob.edu.ly</MudText>
                <MudText Typo="Typo.body2">📞 0912345678</MudText>
                <MudText Typo="Typo.body2">📍 جامعة بنغازي، ليبيا</MudText>
            </MudItem>
        </MudGrid>

        <!-- الحقوق -->
        <MudDivider Class="my-4" />
        <MudText Typo="Typo.caption" Align="Align.Center">
            جميع الحقوق محفوظة © @DateTime.Now.Year - جامعة بنغازي
        </MudText>
    </MudContainer>
</MudPaper>


