@page "/OperationsOnAdmin"
@page "/OperationsOnAdmin/{Id:Guid}"

@using Student_Hostel_Management_System.Data.Entites
@using Student_Hostel_Management_System.Services.Interfaces
@inject NavigationManager NavigationManager
@inject IAdminstrationDataService AdminDataSevice
@inject ISnackbar Snackbar

@rendermode InteractiveServer

<MudDialog>
	<TitleContent>
		<h3>@(IsEditMode ? "تعديل مدير" : "إضافة مدير")</h3>
	</TitleContent>
	<DialogContent>
		<MudPaper Class="p-4" dir="rtl">
			<MudTextField @bind-Value="Administration.NID" Label="الرقم الوظيفي" />
			<MudTextField @bind-Value="Administration.Name" Label="الإسم" />
			<MudTextField @bind-Value="Administration.Phone" Label="رقم الهاتف" />
			<MudTextField @bind-Value="Administration.Email" Label="البريد الإلكتورني" />
			<MudTextField @bind-Value="Administration.Discription" Label="الوصف" />
		</MudPaper>
	</DialogContent>
	<DialogActions>
		<MudPaper Class="d-flex flex-row flex-grow-1 gap-4" Elevation="0">
			<MudButton OnClick="Save" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" Color="Color.Primary">
				@(IsEditMode ? "تعديل" : "حفظ")
			</MudButton>
		</MudPaper>
	</DialogActions>
</MudDialog>

<br />
<MudSpacer />
<br />

@code {

	[Parameter]
	public string Id { get; set; } = string.Empty;
	[Parameter]
	public Guid? AdminId { get; set; }

	private Administration Administration { get; set; } = new Administration();

	private bool IsEditMode;

	protected override async Task OnInitializedAsync()
	{

		Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomCenter;
		IsEditMode = !string.IsNullOrEmpty(Id);
		if (IsEditMode)
		{
			var existing = await AdminDataSevice.GetById(Guid.Parse(Id));
			if (existing != null)
			{
				Administration = existing;
			}
			else
			{
				// Optionally navigate away or show an error
				NavigationManager.NavigateTo("/NotFound");
			}
		}

	}

	private async Task Save()
	{
		if (IsEditMode)
		{
			await AdminDataSevice.Update(Guid.Parse(Id),Administration);
			// Optionally navigate back to the list or show a success message
			// add snackbar message
			Snackbar.Add("تم التعديل بنجاح", Severity.Success);
		}
		else
		{
			await AdminDataSevice.Add(Administration);
			Snackbar.Add("تم الاضافة بنجاح", Severity.Success);
			Administration = new Administration(); // Reset the form after adding
		}

	}

}